/.bundle/
/.yardoc
/_yardoc/
/.vscode/
/coverage/
/pkg/
/spec/reports/
/tmp/
.DS_Store
umu/tmdoc.home.docbook.epub
doc/Make.FILES
doc/tmdoc/LOG.txt
doc/tmdoc/dbook/
doc/tmdoc/html/
doc/html/
doc/prog-guide/*.ps
doc/prog-guide/*.eps
test/tmdoc/LOG.txt
test/tmdoc/dbook/
test/tmdoc/html/
